:root{
    --location: 20;
}

#refreshLocation{
    background-color: transparent;
    border:2px dotted #afafaf;
    color: transparent;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: calc(100vw * var(--location));
    margin-top: calc(100vh * var(--location));
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}