:root{
    --location: 20;
}

#refreshLocation{
    background-color: transparent;
    border:1px dotted #eeeeee;
    color: transparent;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: calc(100vw * var(--location));
    margin-top: calc(100vh * var(--location));
}